html, body {
    height: 100%;
    width: 100%;
  }
header{color: aliceblue;
    background-color: darkcyan;
    font-family: kanit;

}
.week{color: darkcyan;
    background-color: aliceblue;
    font-family: Quicksand;
    font-style: light;
    width: 50%;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    background-color: aquamarine;
    font-weight: bold;
    font-family: Arial;
}
.flexing{
    position: relative;
    background-color: antiquewhite;
    width: 19%;
    margin-right: 1%;
    border-color: brown;
}
#button{
    border: none;
    width: 150px;
    height: 75px;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
    margin-left: 40px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50%;
}
.blue{
    color: blue;
    background-color: rgba(162, 214, 213, .4);
}
.red{
    color: rgb(103, 26, 26);
    background-color: rgba(209, 140, 140.4);
}
#button :hover{
    opacity: .4;
}
.peepee{
    background-color: blue;
    color: azure;
}